body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #add6ca; /* Цвет фона веб-страницы */
    color: #234409; /* Цвет основного текста */ 
}
h1 {
    color: #084299; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: color-change 3s infinite;
}


.зависимость {
    color:rgb(17, 30, 214);
}

table {
    width: 650px;
    border-top: 7px solid rgb(43, 129, 17);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
  }

  td {
    text-align: left;
      padding: 10px;
      border: 3px solid rgb(43, 129, 17);
  }
   th {
    text-align: center;
    padding: 10px;
      border: 3px solid rgb(43, 129, 17);
   }

   @keyframes color-change {
    0% {
      color: rgb(20, 6, 70);
    }
  
    25% {
      color: rgb(184, 110, 110);
    }

    50% {
      color: rgb(204, 142, 209);
    }

    75% {
      color: rgb(184, 110, 110);
    }

    100% {
      color: rgb(20, 6, 70);
    }
}
